<ion-header no border>
  <ion-navbar color='bright' class="frosted" transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen padding class="background">


  <ion-slides pager>

    <ion-slide *ngFor="let page of selectedPage">
      <img [src]="page.intro_image" />
      <ion-card>

        <ion-card-header>
          <h1>{{ page.intro_title }}</h1>
        </ion-card-header>
        <ion-card-content>
          <h2>{{ page.intro_description }}</h2>
        </ion-card-content>
      </ion-card>
    </ion-slide>



    <ion-slide *ngFor="let slide of queenSlide_Data">

      <img [src]="slide.image" />

      <ion-card>
        <ion-card-content>
          <h1 class="slide-title" [innerHTML]="slide.title"></h1>
          <h2 [innerHTML]="slide.description"></h2>
          <br />
          <ion-list inset>

            <button ion-item color='secondary' (click)='openQueenAboutPage()'>
              <h2 style="color: white">Learn More</h2>
            </button>

          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide *ngFor="let slide of workerSlide_Data">
      
            <img [src]="slide.image" />
      
            <ion-card>
              <ion-card-content>
                <h1 class="slide-title" [innerHTML]="slide.title"></h1>
                <h2 [innerHTML]="slide.description"></h2>
                <br />
                <ion-list inset>
      
                  <button ion-item color='secondary' (click)='openWorkerAboutPage()'>
                    <h2 style="color: white">Learn More</h2>
                  </button>
      
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide *ngFor="let slide of droneSlide_Data">
            
                  <img [src]="slide.image" />
            
                  <ion-card>
                    <ion-card-content>
                      <h1 class="slide-title" [innerHTML]="slide.title"></h1>
                      <h2 [innerHTML]="slide.description"></h2>
                      <br />
                      <ion-list inset>
            
                        <button ion-item color='secondary' (click)='openDroneAboutPage()'>
                          <h2 style="color: white">Learn More</h2>
                        </button>
            
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </ion-slide>

    <ion-slide>
      <img src="" />
      <ion-card>
        <ion-card-header>
            <h1 class="slide-title">Ready to Continue?</h1>
        </ion-card-header>
        <ion-card-content>
            <button ion-button large clear icon-end color="primary">
                Next Section: *******
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>